:root {
  --btn-colour: white;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-list li {
  list-style-type: none;
  margin: 20px;
}

.nav-list li a {
  padding: 10px;
  background-color: darkblue;
  color: white;
  text-decoration: none;
  border-radius: 1rem;
}

.nav-list li a:visited {
  text-decoration: none;
  color: white;
}

a:-webkit-any-link {
  color: white;
}
