:root {
  --btn-colour: white;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: darkslategrey;
  padding: 20px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 30%;
}

.nav-list li {
  list-style-type: none;
  border-right: 1px solid black;
}

.nav-list li a {
  padding: 10px;
  font-weight: bolder;
  color: white;
  text-decoration: none;
}

.nav-list li:last-child {
  border-right: 0;
}
.nav-list li a:visited {
  text-decoration: none;
  color: white;
}

a:-webkit-any-link {
  color: white;
}
